/venv/
/.idea/
/_pdfs/
/_pdfs - Copy/
/_get_pdfs/
/_pdfs_annotated/
/Data from DCS Extract - Copy.xlsx
/edgedriver_win64_v112.zip
/edgedriver_win64_v115.zip
/links - Copy.xlsx
/msedgedriver.exe
/PAB Data from DCS Extract - full - Copy.xlsx
/chromedriver.exe