BODY
{
    BACKGROUND-COLOR: white
}
A
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: red
}
A.object_link
{
    COLOR: black;
}
A.relation_link
{
    COLOR: #336699;
    FONT-STYLE: italic
}
A:active
{
    FONT-WEIGHT: bolder;
    COLOR: red
}
IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    TEXT-DECORATION: none
}
.expansion-icon
{
    BACKGROUND-COLOR: #ffffff
}
.objectdesc
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Arial
}
.AppError
{
    FONT-SIZE: 9pt;
    COLOR: purple;
    FONT-FAMILY: Arial
}
B.query
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}

  .blackSred, .blueSred, .redSred {
    color: red;
    text-decoration: line-through;
    }


  .blackSblue, .blueSblue, .redSblue {
    color: blue;
    text-decoration: line-through;
    }

  .blackSblack, .blueSblack, .redSblack {
    color: black;
    text-decoration: line-through;
    }


  .black span, .blackSred span, .blackSblue span, .blackSblack span {
    color: black;
    }

  .blue span, .blueSred span, .blueSblue span, .blueSblack span {
    color: blue;
    }

  .red span, .redSred span, .redSblue span, .redSblack span {
    color: red;
    }
